@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
body {
  color: #1f1b14;
  font-size: 16px;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  background-color: rgb(245, 243, 240);
  line-height: 1.2;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1680px;
  width: 100%;
}

.btn {
  text-align: center;
  color: #1f1b14;
  background-color: #d9d9d9;
  padding: 12px 0;
  width: 152px;
}

.btn:focus {
  outline: 2px solid rgb(11, 7, 239);
  outline-offset: 1px;
}

.btn:hover {
  background-color: rgba(217, 217, 217, 0.7);
}

.btn:active {
  outline: transparent;
  transform: translateY(1px);
}

.header__content {
  padding: 40px 0;
}
.header__review-name {
  font-size: 24px;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .header__review-name {
    font-size: 18px;
  }
}
.header__book-title {
  font-family: "Cinzel Decorative", serif;
  font-size: 68px;
}
@media (max-width: 768px) {
  .header__book-title {
    font-size: 42px;
  }
}
@media (max-width: 576px) {
  .header__book-title {
    font-size: 32px;
  }
}
.header__book-author {
  color: #ad9d85;
  font-size: 32px;
  font-weight: 200;
  text-transform: capitalize;
  font-style: italic;
}
@media (max-width: 576px) {
  .header__book-author {
    font-size: 24px;
  }
}

.review__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 20px;
}
@media (max-width: 1600px) {
  .review__content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 1200px) {
  .review__content {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 800px) {
  .review__content {
    grid-template-columns: 1fr;
  }
}
.review__item {
  padding: 24px 32px;
  border-radius: 4px;
  background-color: #ffffff;
}
@media (max-width: 576px) {
  .review__item {
    padding: 20px 20px;
  }
}
.review__item:nth-of-type(1) {
  grid-row: span 2;
}
.review__item:nth-of-type(2) {
  grid-row: span 2;
  grid-column: span 2;
}
.review__item:nth-of-type(3) {
  grid-row: span 2;
}
.review__item:nth-of-type(4) {
  grid-row: span 2;
}
.review__item:nth-of-type(5) {
  grid-row: span 2;
}
.review__item:nth-of-type(7) {
  grid-row: span 2;
}
@media (max-width: 1600px) {
  .review__item:nth-of-type(1) {
    grid-row: span 1;
  }
  .review__item:nth-of-type(2) {
    grid-row: span 1;
    grid-column: auto;
  }
  .review__item:nth-of-type(3) {
    grid-row: span 1;
  }
  .review__item:nth-of-type(4) {
    grid-row: auto;
  }
  .review__item:nth-of-type(5) {
    grid-row: auto;
  }
  .review__item:nth-of-type(7) {
    grid-row: auto;
    grid-column: span 2;
  }
}
@media (max-width: 1200px) {
  .review__item:nth-of-type(2) {
    min-height: 400px;
    grid-row: span 2;
    grid-column: 2 span;
  }
  .review__item:nth-of-type(3) {
    grid-row: 1;
    grid-column: 2;
  }
  .review__item:nth-of-type(7) {
    grid-row: 2 span;
    grid-column: auto;
  }
}
@media (max-width: 800px) {
  .review__item:nth-of-type(1) {
    grid-row: auto;
    grid-column: auto;
  }
  .review__item:nth-of-type(2) {
    grid-row: auto;
    grid-column: auto;
  }
  .review__item:nth-of-type(3) {
    grid-row: auto;
    grid-column: auto;
  }
  .review__item:nth-of-type(4) {
    grid-row: auto;
    grid-column: auto;
  }
  .review__item:nth-of-type(5) {
    grid-row: auto;
    grid-column: auto;
  }
  .review__item:nth-of-type(6) {
    grid-row: auto;
    grid-column: auto;
  }
  .review__item:nth-of-type(7) {
    grid-row: auto;
    grid-column: auto;
  }
}
.review__save-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 50px 0;
}

.item {
  position: relative;
}
.item__name {
  margin-bottom: 16px;
}
.item__user-input {
  font-size: 20px;
}
.item.item__page {
  position: relative;
}
.item__page-content {
  position: absolute;
  right: 24px;
  bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ad9d85;
  background-color: rgb(245, 243, 240);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
@media (max-width: 1600px) {
  .item__page-content {
    right: 10px;
    bottom: 10px;
  }
}
@media (max-width: 576px) {
  .item__page-content {
    width: 60px;
    height: 60px;
  }
}
.item__page-text {
  margin-bottom: 6px;
}
.item__page-num {
  font-size: 20px;
}
.item__png {
  position: absolute;
  bottom: 24px;
  right: 24px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.rating__block:not(:last-child) {
  margin-bottom: 24px;
}
.rating__description {
  color: #ad9d85;
}
.rating__stars {
  padding: 0;
  display: inline-block;
  border: 0;
}

.setting__input {
  display: none;
}
.setting__label {
  float: right;
}
.setting__half {
  float: right;
}
.setting__label:before {
  display: inline-block;
  font-size: 35px;
  padding: 5px;
  cursor: pointer;
  font-family: FontAwesome;
  content: "\f005";
  color: rgb(245, 243, 240);
}
.setting__half:before {
  display: inline-block;
  font-size: 35px;
  padding: 5px;
  cursor: pointer;
  font-family: FontAwesome;
  content: "\f089";
  position: absolute;
  padding-right: 0;
  color: rgb(245, 243, 240);
}
.setting__label:hover ~ .setting__half:before, .setting__label:hover ~ .setting__label:before, .setting__half:hover ~ .setting__half:before, .setting__half:hover ~ .setting__label:before {
  color: black;
}
.setting__input:checked ~ .setting__label:before, .setting__input:checked ~ .setting__half:before {
  color: black;
}

.plot__input {
  display: none;
}
.plot__label {
  float: right;
}
.plot__half {
  float: right;
}
.plot__label:before {
  display: inline-block;
  font-size: 35px;
  padding: 5px;
  cursor: pointer;
  font-family: FontAwesome;
  content: "\f005";
  color: rgb(245, 243, 240);
}
.plot__half:before {
  display: inline-block;
  font-size: 35px;
  padding: 5px;
  cursor: pointer;
  font-family: FontAwesome;
  content: "\f089";
  position: absolute;
  padding-right: 0;
  color: rgb(245, 243, 240);
}
.plot__label:hover ~ .plot__half:before, .plot__label:hover ~ .plot__label:before, .plot__half:hover ~ .plot__half:before, .plot__half:hover ~ .plot__label:before {
  color: black;
}
.plot__input:checked ~ .plot__label:before, .plot__input:checked ~ .plot__half:before {
  color: black;
}

.characters__input {
  display: none;
}
.characters__label {
  float: right;
}
.characters__half {
  float: right;
}
.characters__label:before {
  display: inline-block;
  font-size: 35px;
  padding: 5px;
  cursor: pointer;
  font-family: FontAwesome;
  content: "\f005";
  color: rgb(245, 243, 240);
}
.characters__half:before {
  display: inline-block;
  font-size: 35px;
  padding: 5px;
  cursor: pointer;
  font-family: FontAwesome;
  content: "\f089";
  position: absolute;
  padding-right: 0;
  color: rgb(245, 243, 240);
}
.characters__label:hover ~ .characters__half:before, .characters__label:hover ~ .characters__label:before, .characters__half:hover ~ .characters__half:before, .characters__half:hover ~ .characters__label:before {
  color: black;
}
.characters__input:checked ~ .characters__label:before, .characters__input:checked ~ .characters__half:before {
  color: black;
}

.style__input {
  display: none;
}
.style__label {
  float: right;
}
.style__half {
  float: right;
}
.style__label:before {
  display: inline-block;
  font-size: 35px;
  padding: 5px;
  cursor: pointer;
  font-family: FontAwesome;
  content: "\f005";
  color: rgb(245, 243, 240);
}
.style__half:before {
  display: inline-block;
  font-size: 35px;
  padding: 5px;
  cursor: pointer;
  font-family: FontAwesome;
  content: "\f089";
  position: absolute;
  padding-right: 0;
  color: rgb(245, 243, 240);
}
.style__label:hover ~ .style__half:before, .style__label:hover ~ .style__label:before, .style__half:hover ~ .style__half:before, .style__half:hover ~ .style__label:before {
  color: black;
}
.style__input:checked ~ .style__label:before, .style__input:checked ~ .style__half:before {
  color: black;
}

.engagement__input {
  display: none;
}
.engagement__label {
  float: right;
}
.engagement__half {
  float: right;
}
.engagement__label:before {
  display: inline-block;
  font-size: 35px;
  padding: 5px;
  cursor: pointer;
  font-family: FontAwesome;
  content: "\f005";
  color: rgb(245, 243, 240);
}
.engagement__half:before {
  display: inline-block;
  font-size: 35px;
  padding: 5px;
  cursor: pointer;
  font-family: FontAwesome;
  content: "\f089";
  position: absolute;
  padding-right: 0;
  color: rgb(245, 243, 240);
}
.engagement__label:hover ~ .engagement__half:before, .engagement__label:hover ~ .engagement__label:before, .engagement__half:hover ~ .engagement__half:before, .engagement__half:hover ~ .engagement__label:before {
  color: black;
}
.engagement__input:checked ~ .engagement__label:before, .engagement__input:checked ~ .engagement__half:before {
  color: black;
}

.overall__input {
  display: none;
}
.overall__label {
  float: right;
}
.overall__half {
  float: right;
}
.overall__label:before {
  display: inline-block;
  font-size: 35px;
  padding: 5px;
  font-family: FontAwesome;
  content: "\f005";
  color: rgb(245, 243, 240);
}
.overall__half:before {
  display: inline-block;
  font-size: 35px;
  padding: 5px;
  font-family: FontAwesome;
  content: "\f089";
  position: absolute;
  padding-right: 0;
  color: rgb(245, 243, 240);
}
.overall__input:checked ~ .overall__label:before, .overall__input:checked ~ .overall__half:before {
  color: black;
}

.notes {
  position: relative;
}
.notes::after {
  content: "";
  position: absolute;
  top: 104px;
  left: 25px;
  right: 25px;
  height: 75%;
  background: linear-gradient(to bottom, #e0dad1, #e0dad1 1px, transparent 1px, transparent);
  background-size: 100% 43px;
}
.notes__name {
  margin-bottom: 16px;
}
.notes__user-notes {
  font-size: 20px;
  line-height: 2.2;
  display: flex;
  align-items: flex-end;
}

@media (max-width: 800px) {
  .book-description__content {
    text-align: center;
  }
}
.book-description__cover {
  width: 246px;
  height: 376px;
  background-color: rgb(245, 243, 240);
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.25);
  transform: rotate(6deg);
  position: relative;
  top: -100px;
  left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ad9d85;
}
@media (max-width: 1200px) {
  .book-description__cover {
    left: 20%;
  }
}
@media (max-width: 800px) {
  .book-description__cover {
    transform: rotate(0deg);
    top: 0;
    left: 0;
    margin: 0 auto;
    height: 300px;
    margin-bottom: 40px;
  }
}
.book-description__cover-label {
  position: absolute;
}
.book-description__cover-input {
  width: 246px;
  height: 300px;
  opacity: 0;
}
.book-description__cover-img {
  height: 376px;
  object-fit: cover;
  z-index: 10;
}
.book-description__dates {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
@media (max-width: 800px) {
  .book-description__dates {
    justify-content: space-evenly;
  }
}
.book-description__start-date, .book-description__finish-date {
  position: relative;
}
.book-description__start, .book-description__finish {
  position: relative;
  width: 140px;
  line-height: 2;
}
.book-description .qs-datepicker-container {
  left: -80px !important;
}
@media (max-width: 400px) {
  .book-description__start, .book-description__finish {
    width: 100px;
  }
  .book-description__start-date, .book-description__finish-date {
    width: 100px;
  }
}
.book-description__start > input, .book-description__finish > input, .book-description__start > input::placeholder, .book-description__finish > input::placeholder {
  color: #1f1b14;
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 440px) {
  .book-description__start > input, .book-description__finish > input, .book-description__start > input::placeholder, .book-description__finish > input::placeholder {
    font-size: 12px;
    text-align: center;
  }
}
.book-description__format-name, .book-description__genre-name {
  margin-bottom: 35px;
}
.book-description__format-input, .book-description__genre-input {
  margin-top: 16px;
  display: block;
  color: #1f1b14;
  font-size: 20px;
  font-weight: 700;
}

.quotes__content {
  position: relative;
}
.quotes__content::after {
  content: "";
  position: absolute;
  top: 185px;
  right: -10px;
  width: 72px;
  height: 50px;
  background-image: url("../images/quotes.svg");
  background-position: center center;
  background-repeat: no-repeat;
}
.quotes__name {
  margin-bottom: 16px;
}
.quotes__users-quote {
  font-size: 20px;
}

.list-of-books__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
  column-gap: 50px;
  align-items: stretch;
}
@media (max-width: 992px) {
  .list-of-books__list {
    grid-template-columns: 1fr;
  }
}
.list-of-books__authorization {
  padding: 100px 0 36px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 576px) {
  .list-of-books__authorization {
    flex-direction: column;
  }
}
.list-of-books__text-wrapper {
  display: flex;
  flex-direction: column;
}
@media (max-width: 576px) {
  .list-of-books__authorization-btn {
    margin: 0 auto;
  }
}
.list-of-books__authorization-done {
  margin-bottom: 20px;
}
.list-of-books__name {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .list-of-books__name {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
.list-of-books__add-review {
  display: block;
  margin-bottom: 32px;
}
@media (max-width: 576px) {
  .list-of-books__add-review {
    margin: 0 auto;
    margin-bottom: 42px;
  }
}
.list-of-books__item {
  display: flex;
}
.list-of-books__img-container {
  width: 190px;
  height: 190px;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ad9d85;
  margin-right: 25px;
}
@media (max-width: 576px) {
  .list-of-books__img-container {
    width: 100px;
    height: 100px;
  }
}
.list-of-books__link-to-review {
  position: absolute;
  width: 190px;
  height: 190px;
  cursor: pointer;
  z-index: 40;
}
@media (max-width: 576px) {
  .list-of-books__link-to-review {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 576px) {
  .list-of-books__cover-text {
    text-align: center;
  }
}
.list-of-books__cover-img {
  width: 190px;
  height: 190px;
  object-fit: cover;
  z-index: 20;
}
@media (max-width: 576px) {
  .list-of-books__cover-img {
    width: 100px;
    height: 100px;
  }
}
.list-of-books__book-name {
  font-size: 32px;
  font-style: italic;
  color: #ad9d85;
  margin-bottom: 16px;
}
@media (max-width: 992px) {
  .list-of-books__book-name {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .list-of-books__book-name {
    font-size: 18px;
  }
}
.list-of-books__book-author {
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 576px) {
  .list-of-books__book-author {
    font-size: 16px;
  }
}

/* header authorization / login / signup  */
.header-authorization__content {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
}

.header-authorization__links {
  background-color: #ffffff;
  padding: 40px 20px;
  display: grid;
  justify-items: center;
}

.header-authorization__menu-mobile {
  display: none;
}

.header-authorization__select {
  border: none;
}

.header-authorization__login-link {
  display: block;
  margin-top: 20px;
}

/* authorization main page */
.authorization__info {
  max-width: 600px;
  width: 100%;
  padding: 50px;
  margin: 0 auto;
}

.authorization__name {
  text-align: center;
  font-size: 48px;
  letter-spacing: 5px;
  font-weight: 400;
  margin-bottom: 40px;
}

.authorization__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authorization__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 10px;
  padding: 12px;
  background-color: #ffffff;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 70px;
  margin-bottom: 30px;
}

.authorization__svg {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.authorization__btn {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #333333;
  border-radius: 40px;
  padding: 12px;
  margin-bottom: 12px;
}

.authorization__agreement {
  font-size: 14px;
  text-align: center;
}

/* Sign up page, Log in page */
.signup-page,
.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: calc(100vh - 162px);
}
@media (max-width: 992px) {
  .signup-page,
.login-page {
    height: auto;
    padding: 60px 20px;
  }
}

.signup-page__inner,
.login-page__inner {
  padding: 48px;
  max-width: 652px;
  width: 100%;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.25);
}

.signup-page__title,
.login-page__title {
  letter-spacing: 5px;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}

.signup-page__description,
.login-page__description {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-size: 16px;
  max-width: 408px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.form__block {
  margin-bottom: 30px;
}

.form__label {
  font-size: 16px;
}

.form__input {
  width: 100%;
  height: 46px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 5px;
  padding-left: 10px;
}

.form__input:invalid:not(:placeholder-shown) {
  border: 1px solid red;
}

.form__input:valid:not(:placeholder-shown) {
  border-color: green;
}

.form__input:focus {
  outline: 1px solid #666666;
}

.form__input:hover {
  background-color: rgba(86, 85, 85, 0.03);
}

.form__input:active {
  outline: transparent;
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.5);
}

.form__email {
  display: block;
  position: relative;
}

.form__phone-reminder {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
}

.form__hide-button {
  color: #666666;
  display: flex;
  align-items: center;
}

.form__hide-svg,
.form__show-svg {
  padding-right: 3px;
}

.form__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.form__list {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: disc;
}

.form__item {
  margin-bottom: 8px;
}

.form__item:nth-last-of-type(2n) {
  padding-right: 60px;
}

.form__button {
  display: flex;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #000000;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 8px;
}

.form__button:focus {
  outline: 2px solid rgb(11, 7, 239);
  outline-offset: 1px;
}

.form__button:active {
  outline: transparent;
  transform: translateY(1px);
}

.form__button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.form__button[disabled] {
  cursor: not-allowed;
}

.form__button[disabled]:active {
  transform: translateY(0);
}

.form__loader {
  display: none;
  position: relative;
  margin-left: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: conic-gradient(lightgray, transparent);
  animation: rotating 1s linear infinite;
}

.form__loader::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotating {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.review__loader {
  display: none;
  position: relative;
  margin-left: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: conic-gradient(rgb(133, 129, 129), transparent);
  animation: rotating 1s linear infinite;
}

.review__loader::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  background-color: #d9d9d9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main__privacy-policy {
  font-size: 15px;
}